@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: #fcfcfc; */
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #7D14E6;
  --lg-heading: #161c2d;
  --text-content: #181010;
  --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100vw;
  /* height: 100vh; */
  height: auto;
  overflow-x: hidden;
}

.btnn {
  background-color: #7D14E6;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ==== CONTAINER ==== */
.container {
  width: 85vw;
  margin:0 auto;
  box-shadow: 0 0 0;
}

/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: 1.75rem;
  color: var(--primary-color);
}
.wrapper {
  width: 100vw;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
  box-shadow: 0 0 0;
}
#bottom_wrapper{
  padding-top: 0;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
div.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
  text-align: justify;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: var(--primary-color);
}

.small{
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0;
    color: rgba(23, 23, 23, 0.925);
    /* line-height: 55px;  */
}
p.info-text {
  margin: 1em auto 1em auto;
  font-size: 1.2rem;
  /* line-height: 28px; */
  color: #334157;
  padding: 15px 19px;
  text-align: justify;
}
.btn_wrapper {
  /* margin-top: 3.5rem; */
  width: 100%;
}
.btnn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn a{
  background-color: #7D14E6;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-3px);
}
.btnn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.btnn i {
  margin-left: 0.7rem;
  margin-top:0.1em;
  background-color: #7D14E6;
}
.btnn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  box-shadow: 0px 2px 10px  grey ;
  border-radius: 10px;
  justify-content: center;
  padding: 25px 50px;
  transition: 0.4s;
}
.grid-col-item:hover{
  transform: translateY(-5px);
  box-shadow: 0px 2px 6px  grey ;

  
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
  text-align: center;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }

  .grid-cols-3{
    display: flex;
    flex-direction: column;

  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
    width: 100%;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 0em;
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  div.grid-col-item{
    width: auto;
    height: auto;
  }
}
